<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->

<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>哈哈哈 {$title_for_layout|default='...'}</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />
	<link rel="shortcut icon" href="__IMAGE__/ico.ico" />
	<load href='__CSS__/bootstrap.min.css' />
	<load href='__CSS__/bootstrap-responsive.min.css' />
	<load href='__CSS__/font-awesome.min.css' />
	<load href='__CSS__/style-metro.css' />
	<load href='__CSS__/style.css' />
	<load href='__CSS__/style.css' />
	<load href='__CSS__/style-responsive.css' />
	<load href='__CSS__/uniform.default.css' />
	<load href='__CSS__/default.css' />
	<load href='__JS__/jquery-1.10.1.min.js' />
	<load href='__JS__/jquery-migrate-1.2.1.min.js' />
	<load href='__JS__/jquery-ui-1.10.1.custom.min.js' />
	<load href='__JS__/bootstrap.min.js' />
	<load href='__JS__/excanvas.min.js' />
	<load href='__JS__/respond.min.js' />
	<load href='__JS__/jquerysession.js' />
	<load href='__JS__/jquery.slimscroll.min.js' />
	<load href='__JS__/jquery.blockui.min.js' />
	<load href='__JS__/jquery.cookie.min.js' />
	<load href='__JS__/jquery.uniform.min.js' />
	<load href='__JS__/ie.js' />
</head>
